@import 'tailwindcss';

:root {
	--color-primary: #46ccd5;
	--color-text: #000000;
}

@theme {
	--spacing-xs: 0.5rem;
	--spacing-sm: 0.8rem;
	--spacing-md: 1.2rem;
	--spacing-lg: 1.8rem;

	--color-primary: #46ccd5;
	--color-secondary: #4676d5;
	--color-inactive: #848484;

	--color-text: #000000;
	--color-text3: #555555;

	--color-sidebar-active-bg: #46ccd520;
	--color-transparent-black: #00000020;

	--color-background: #ffffff;
	--color-darkBg: #f9f9f9;
	--color-darkerBg: #efefef;
}

@layer base {
	h1 {
		@apply text-3xl font-bold;
	}

	h2 {
		@apply text-2xl font-semibold;
	}

	h3 {
		@apply text-xl font-semibold;
	}

	p {
		@apply text-justify leading-relaxed text-neutral-700;
	}

	a {
		@apply text-sm text-blue-500;
	}
}

@layer components {
	.btn-primary {
		@apply rounded bg-secondary px-sm py-xs font-semibold text-white;
	}

	.btn-secondary {
		@apply rounded bg-darkerBg px-sm py-xs font-semibold text-text;
	}

	.btn-outlined {
		@apply rounded border-2 border-secondary px-sm py-xs font-semibold text-secondary;
	}

	.btn-sidebar {
		@apply flex w-full cursor-pointer items-center justify-start gap-xs rounded-lg p-sm text-inactive hover:text-secondary;

		&:hover p {
			@apply text-secondary;
		}
	}

	.btn-sidebar p {
		@apply font-medium text-inactive;
	}

	.btn-sidebar-active {
		@apply bg-sidebar-active-bg text-secondary;
	}

	.btn-sidebar-active p {
		@apply text-secondary;
	}

	.nav-item {
		@apply text-sm font-semibold text-secondary;
	}

	.input-primary {
		@apply w-full rounded-md bg-darkBg p-xs text-sm;
	}
}

@layer utilities {
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
}
